################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FriendsCoreAPI/CopilotIndices/17.14.794.21998/CodeChunks.db
/.vs/FriendsCoreAPI/CopilotIndices/17.14.794.21998/SemanticSymbols.db
/.vs/FriendsCoreAPI/CopilotIndices/17.14.794.21998/CodeChunks.db-shm
/.vs/FriendsCoreAPI/CopilotIndices/17.14.794.21998/CodeChunks.db-wal
/.vs/FriendsCoreAPI/CopilotIndices/17.14.794.21998/SemanticSymbols.db-shm
/.vs/FriendsCoreAPI/CopilotIndices/17.14.794.21998/SemanticSymbols.db-wal
/.vs/FriendsCoreAPI/DesignTimeBuild/.dtbcache.v2
/.vs/FriendsCoreAPI/FileContentIndex/c391e786-8ceb-47e5-a2da-9c00b5dcb6c6.vsidx
/.vs/FriendsCoreAPI/FileContentIndex/de970401-f447-4366-86d6-c5426438876e.vsidx
/.vs/FriendsCoreAPI/v17/.futdcache.v2
/.vs/FriendsCoreAPI/v17/.suo
/.vs/FriendsCoreAPI/v17/DocumentLayout.backup.json
/.vs/FriendsCoreAPI/v17/DocumentLayout.json
/.vs/ProjectEvaluation/friendscoreapi.metadata.v9.bin
/.vs/ProjectEvaluation/friendscoreapi.projects.v9.bin
/.vs/ProjectEvaluation/friendscoreapi.strings.v9.bin
/FriendsCoreAPI/bin/Debug/net8.0/FriendsCoreAPI.dll
/FriendsCoreAPI/bin/Debug/net8.0/FriendsCoreAPI.exe
/FriendsCoreAPI/bin/Debug/net8.0/FriendsCoreAPI.pdb
/FriendsCoreAPI/bin/Debug/net8.0/FriendsCoreAPI.staticwebassets.endpoints.json
/FriendsCoreAPI/bin/Debug/net8.0/FriendsCoreAPI.staticwebassets.runtime.json
/FriendsCoreAPI/obj/Debug/net8.0/ref/FriendsCoreAPI.dll
/FriendsCoreAPI/obj/Debug/net8.0/apphost.exe
/FriendsCoreAPI/obj/Debug/net8.0/FriendsCoreAPI.AssemblyInfo.cs
/FriendsCoreAPI/obj/Debug/net8.0/FriendsCoreAPI.AssemblyInfoInputs.cache
/FriendsCoreAPI/obj/Debug/net8.0/FriendsCoreAPI.csproj.FileListAbsolute.txt
/FriendsCoreAPI/obj/Debug/net8.0/FriendsCoreAPI.dll
/FriendsCoreAPI/obj/Debug/net8.0/FriendsCoreAPI.pdb
/FriendsCoreAPI/obj/Debug/net8.0/FriendsCoreAPI.sourcelink.json
/FriendsCoreAPI/obj/Debug/net8.0/refint/FriendsCoreAPI.dll
/FriendsCoreAPI/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/FriendsCoreAPI/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/FriendsCoreAPI/obj/Debug/net8.0/rpswa.dswa.cache.json
/FriendsCoreAPI/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/FriendsCoreAPI/obj/Debug/net8.0/staticwebassets.build.json
/FriendsCoreAPI/obj/Debug/net8.0/staticwebassets.build.json.cache
/FriendsCoreAPI/obj/Debug/net8.0/staticwebassets.development.json
/FriendsCoreAPI/obj/Debug/net8.0/staticwebassets.removed.txt
/FriendsCoreAPI/wwwroot/uploads/497b5dc3-3df1-4123-9396-780378582667_WhatsApp Image 2025-04-22 at 6.50.49 PM.jpeg
/FriendsCoreAPI/FriendsCoreAPI.csproj
/FriendsCoreAPI/obj/Debug/net8.0/rjimswa.dswa.cache.json
/FriendsCoreAPI/obj/Debug/net8.0/staticwebassets.upToDateCheck.txt
